<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>BlueSecure Home page</title>
<link rel="stylesheet"
	href="{{url_for('static',filename='jquery-ui.min.css') }}" />
<link rel="stylesheet" href="{{url_for('static',filename='main.css') }}" />
<script type="text/javascript"
	src="{{ url_for('static',filename='jquery.min.js') }}"></script>
<script type="text/javascript"
	src="{{url_for('static',filename='jquery-ui.min.js')}}"></script>
<script type="text/javascript"
	src="{{url_for('static',filename='main.js')}}"></script>

</head>
<body>
	<div id="main">
		<div id="header">
			<div id="logoContainer">
				<span id="logo">IBM BlueMix DB Storage</span>
				<div style="position: absolute;top: 22px;right: 8px;"><input id="logoutBtn" type="button" value="Log out" style="width: 80px;height: 28px;font-family:inherit; cursor:pointer"></div>
			</div>
		</div>
		<div id="container">
			<div id="tabs">
				<ul>
					<li><a href="#fragment-1">Welcome</a></li>
					<li><a href="#fragment-2">Browse</a></li>
					<li><a href="#fragment-3">Upload</a></li>
				</ul>
				<div id="fragment-1">
				</div>
				<div id="fragment-2">
					<div id="fileList">
						<div id="browserheader">Files in Storage</div>
						<div id="loadingDiv"></img></div>
						<table id="files" style="display:none" cellspacing="10">
							<thead>
								<tr>
									<td>File name</td>
									<td>Description</td>
									<td>Version</td>
									<td>Size</td>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
				<div id="fragment-3">
					<div id="uploadForm">
						<form id="fileUploadForm" class="appnitro"
							enctype="multipart/form-data" method="post" action="upload">
							<div class="form_description">
								<h2>Upload File to Storage</h2>
								<p></p>
							</div>
							<p> Select your file : </p>
							<div>
								<input id="fileInput" name="file" type="file" />
							</div>
							<p> Description : </p>
							<div>
								<textarea id="desp_textarea" name="description"></textarea>
							</div>
							<input type="hidden" name="form_id"
								value="1137282" />
							<input type="hidden" name="size"
								value="" />
							<input id="saveForm" class="button_text"
								type="submit" name="submit" value="Upload File" />
						</form>
					</div>
				</div>
			</div>

		</div>
		<div id="footer"></div>
	</div>
</body>
</html>